<h1>post a new link</h1>

<form action = "/posts" method = "post">

Title: <input type = "text" name = "post[title]">
URL: <input type = "text" name = "post[url]">

<button type = "submit">Creat post</button>
</form>